

.logo {
	-fx-background-color : #FFAB4B;
	 -fx-alignment: center;
}
.textw {
	-fx-alignment: center	;
	-fx-spacing:10px;
}

.input{
	-fx-spacing:10px;
	-fx-padding:0 170px 0 170px;
	-fx-background-radius: 6px;
}
.btn{
	-fx-background-color : #FFAB4B;
	-fx-background-radius: 6px;
}

.userpass{
	
		-fx-alignment: center	;
		-fx-border-color:#B3B1BD;
		-fx-border-radius: 6px;
		-fx-padding : 0px 5px 0 10px ;	
	}
.textfiled{
	-fx-background-color: transparent;
}
